# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
env.bak/
venv.bak/

# Virtual Environment
venv/
*.env
.env

# macOS
.DS_Store

# Logs
logs/
*.log

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Others
*.sqlite3

#########################
# Frontend (Next.js) Stuff
#########################

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/
build/

# Testing
coverage/
*.lcov

# Miscellaneous
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Static assets
public/static/

# Others
*.log
